# Exemplo de arquivo .env para uso local
SONAR_HOST="https://sonar.azure.dsudevops.nestle.biz"
SONAR_TOKEN=seu-token-aqui #criar seu token no site do Sonar em my_account> security
PROJECT_KEY="arq-dig-nbra-adi-s20conecta-front" #seu projeto Sonar, altere conforme necessidade
BRANCH=main
